<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat App</title>
    <script defer src="https://millimeclis.onrender.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <script defer src="script.js"></script>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <div id="room-container">
      <% rooms.forEach(r => { %>
      <div><%= r.room %></div>
      <a href="/<%= r.room %>">Join</a>
      <% }) %>
    </div>
    <% if (user.isAdmin === true) { %>
    <form action="/room" method="POST">
      <input name="room" type="text" required />
      <button type="submit">New Room</button>
    </form>
    <% } %>
  </body>
</html>
